<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="css.css">
    <title>Пыточный Механизм альбомы</title>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
        .white-card {
            background: white;
            padding: 40px;
            border-radius: 10px;
            max-width: 800px;
            margin: 300px auto;
            min-height: 1000px;
        }
    </style>
</head>
<body>
    <div class="white-card">
        <a href="/">
            <button>На главную</button>
        </a>
        <h1>Альбомы группы Пыточный Механизм</h1>
        <p>1. Животный инстинкт</p>
        <p>2. Материя - сила</p>
        <p>3. Тени победы</p>
        <p>4. За стенами системы</p>
        <p>5. Калейдоскопы сознания</p>
        <p>6. Тело помнит все</p>
        <p>7. Арсенал</p>
        <p>8. Чёрное зеркало</p>
        <p>9. Вавилонская библиотека</p>
        <p>10. Созвездие спирали</p>
        <p>11. Вечный сон</p>
        <p>12. Покуда вертится земля</p>
        <h1>Альбомы группы Полигон (Старый проект)</h1>
        <p>1. Общепит</p>
    </div>
</body>

</html>
