<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="css.css">
    <title>Пыточный Механизм альбомы</title>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
        .white-card {
            background: white;
            padding: 40px;
            border-radius: 10px;
            max-width: 800px;
            margin: 300px auto;
            min-height: 1000px;
        }
    </style>
</head>
<body>
    <div class="white-card">
        <a href="/">
            <button>На главную</button>
        </a>
        <h1>Альбомы группы Пыточный Механизм</h1>
        <p>
            <a href="/albums/animal-instinct">1. Животный инстинкт</a>
        </p>
        <p>
            <a href="/albums/matter-is-power">2. Материя - сила</a>
        </p>
        <p>
            <a href="/albums/shadows-of-victory">3. Тени победы</a>
        </p>
        <p>
            <a href="/albums/beyond-the-walls-of-the-system">4. За стенами системы</a>
        </p>
        <p>
            <a href="/albums/kaleidoscopes-of-consciousness">5. Калейдоскопы сознания</a>
        </p>
        <p>
            <a href="/albums/the-body-remembers-everything">6. Тело помнит все</a>
        </p>
        <p>
            <a href="/albums/arsenal">7. Арсенал</a>
        </p>
        <p>
            <a href="/albums/the-black-mirror">8. Чёрное зеркало</a>
        </p>
        <p>
            <a href="/albums/the-babylonian-library">9. Вавилонская библиотека</a>
        </p>
        <p>
            <a href="/albums/the-spiral-constellation">10. Созвездие спирали</a>
        </p>
        <p>
            <a href="/albums/eternal-sleep">11. Вечный сон</a>
        </p>
        <p>
            <a href="/albums/as-long-as-the-earth-turns">12. Покуда вертится земля</a>
        </p>
        <h1>Альбомы группы Полигон</h1>
        <p>
            <a href="/albums/catering">1. Общепит</a>
        </p>
    </div>
</body>
</html>

