<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href="css.css">
    <title>Пыточный Механизм альбом За стенами системы</title>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
        }
        .white-card {
            background: white;
            padding: 40px;
            border-radius: 10px;
            max-width: 800px;
            margin: 300px auto;
            min-height: 1000px;
        }
    </style>
</head>
<body>
<div class="white-card">
    <h1>Альбом За стенами системы</h1>
    <a href="/">
        <button>На главную</button>
    </a>
</div>
</body>

</html>